<html>
  <head>
    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="https://unpkg.com/vue@2.6.11/dist/vue.min.js"></script>

    <script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://rawcdn.githack.com/thomas-lowry/figma-plugin-ds/34cb6adef39274e7bdab08007c75819c9b19470c/dist/figma-plugin-ds.css"
    />
    <link
      href="https://unpkg.com/prism-theme-night-owl@1.4.0/build/style.css"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/prismjs@1.20.0/prism.js"></script>
    <style>
      .options {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
      }

      .options > div {
        display: flex;
        align-items: center;
      }

      #app {
        font-family: "Inter";
        color: #011627;
        font-size: 14px;
        padding: 20px;
      }
      .copy {
        width: 100%;
        justify-content: center;
      }

      .span {
        grid-column: 1/3;
      }

      .span label {
        width: 200px;
        padding-left: 8px;
      }
    </style>
  </head>
  <div id="app">
    <button class="button button--primary copy" data-clipboard-target="#code">
      Copy to Clipboard
    </button>
    <div>
      <div class="section-title">Options</div>
      <div class="options">
        <div class="checkbox">
          <input
            type="checkbox"
            class="checkbox__box"
            id="native"
            name="native"
            v-model="native"
            v-on:click="getNative"
          />

          <label class="checkbox__label" for="native">React Native</label>
        </div>
        <div class="checkbox">
          <input
            type="checkbox"
            class="checkbox__box"
            id="icon"
            name="icon"
            v-model="icon"
            v-on:click="getDimensions"
          />

          <label class="checkbox__label" for="icon">Hide Dimensions</label>
        </div>
        <div class="checkbox">
          <input
            type="checkbox"
            class="checkbox__box"
            id="TS"
            name="TS"
            v-model="TS"
            v-on:click="getTS"
          />

          <label class="checkbox__label" for="TS">TypeScript</label>
        </div>
        <div class="input span">
          <label for="name" class="type--small">Component Name</label>
          <input
            type="text"
            id="name"
            name="name"
            v-model="name"
            v-on:change="changeName"
            class="input__field"
          />
        </div>
      </div>
    </div>
    <pre><code  v-html="$options.filters.highlight(svg)" class="language-javascript" id="code" style="white-space: pre-wrap;"
    ></code></pre>
  </div>
  <script>
    window.onmessage = async (event) => {
      const data = event.data.pluginMessage.data;
      Vue.filter("highlight", (code, lang = "javascript") => {
        return Prism.highlight(code, Prism.languages[lang], lang);
      });

      new Vue({
        el: "#app",
        data: {
          TS: false,
          icon: false,
          native: false,
          svg: data,
          name: "Icon",
          //url: "http://localhost:3000/",
          url: "https://transfrom-saravieira.vercel.app/",
        },
        mounted: function () {
          this.$nextTick(function () {
            fetch(this.url, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                svg: data,
              }),
            })
              .then((rsp) => rsp.json())
              .then((data) => {
                this.svg = data.data;
                new ClipboardJS(".copy");
                this.selectElementContents(document.querySelector("#code"));
              });
          });
        },
        methods: {
          postToApi: function () {
            fetch(this.url, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                typescript: this.TS,
                svg: data,
                native: this.native,
                name: this.name,
                icon: this.icon,
              }),
            })
              .then((rsp) => rsp.json())
              .then((data) => {
                this.svg = data.data;
              });
          },
          selectElementContents: function (el) {
            var range = document.createRange();
            range.selectNodeContents(el);
            var sel = window.getSelection();
            sel.removeAllRanges();
            sel.addRange(range);
          },
          getNative: function (e) {
            this.native = e.target.checked;
            this.postToApi();
          },
          getDimensions: function (e) {
            this.icon = e.target.checked;
            this.postToApi();
          },
          getTS: function (e) {
            this.TS = e.target.checked;
            this.postToApi();
          },
          changeName: function (e) {
            this.name = e.target.value;
            this.postToApi();
          },
        },
      });
    };
  </script>
</html>
